.main{
    display: flex;
    border: 1px solid black ;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    font-size: xx-large;
    flex-direction: column;
}

.b{
    padding: 20px;
    margin: 5px;
    background-color: bisque;
    color: black;
}
.flex{
    display: flex;
    flex-direction: row;
}