.home{
    background-image: url(1693497056904.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.about{
    background-image: url(al_hussein_technical_university_htu_logo.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}