* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  font-size: 1rem;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem #2491ff !important; /* Blue glow */
}
.navbar-toggler {
  padding: 16px !important;
}

.border:focus {
  box-shadow: 0 0 0 0.25rem #2491ff !important;
}
.anc_ {
  padding-left: 1rem;
  font-size: x-large;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.a {
  font-size: 1.1rem;
  font-weight: 600;
  width: calc(100% - 12px);
}
.sec1{
  background-color: transparent;
}

.text-center {
  text-align: center;
}
.img_ {
  /* Responsive size */
  width: calc(3rem + 2vw);  
  height: calc(3rem + 2vw); 
 
}

.topB{
  border-top: 1px solid;
}












/* Centering sections in 4k View */

.UW{
  width: 100%;
}

@media (min-width: 2560px) {
  .UW{
      flex: 0 0 auto;
      width: 75% !important;
  }
}







/* Responsive TEXT */


.responsive-text1 {
  font-size: 1.813rem !important; /* Font size for tablets and smaller */
}

/* Font size for laptops and larger screens */
@media (min-width: 1024px) {
  .responsive-text1 {
    font-size: 2.25rem !important; /* Font size for laptops and larger screens */
  }
}


.responsive-text2 {
  font-size: 1.125rem !important; /* Font size for tablets and smaller */
}

/* Font size for laptops and larger screens */
@media (min-width: 1024px) {
  .responsive-text2 {
    font-size: 1.375rem !important; /* Font size for laptops and larger screens */
  }
}


.responsive-text3 {
  font-size: .9rem !important; /* Font size for tablets and smaller */
}

/* Font size for laptops and larger screens */
@media (min-width: 1024px) {
  .responsive-text3 {
    font-size: 1.1rem !important; /* Font size for laptops and larger screens */
  }
}

